<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"> </i>Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
   
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
       
    <ul class="navbar-nav ml-auto">
       <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Shopping Cart <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <span class="fa fa-user"> </span>       User Managment
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
         
         {{#if isAuth}}
          <a class="dropdown-item" href="/users/profile">
            
              User Account</a>
          <a class="dropdown-item" href="/users/logout">
             
              Logout</a>
       
         {{else}}
         <a class="dropdown-item" href="/users/signup">
             
              Sign up</a>
          <a class="dropdown-item" href="/users/signin">
            </i>
              Sign in</a>

         

         {{/if}}
          </div>
         
      </li>
    </ul>
  </div>
</nav>