<div class="row p-3 m-3">
{{#each products as |person|}}


<div class="card col-sm-5  col-md-3 m-2 p-2" style="width: 18rem;">
  <img class="img-responsive" src={{imgPath}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
   </div>
    <div class="card-footer">
 <div id="price" class="price pull-left"> ${{price}} </div>
  <a href="#" class="btn btn-success pull-right">Buy </a>
    </div>
    
   
   
  </div>






{{/each}}
</div>




